.popup-container {
    display: flex;
    flex-direction: column;
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: hidden;
  }
  
  .popupContent {
    max-width: 600px;
    background: rgba(0, 0, 0, 0.808);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 90%;
    animation: popup 0.3s ease-out forwards;
  }

  .popupContent h3 {
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .form input,
  .form textarea {
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;
  }
  
  .closeBtn:hover {
    color: #333;
  }
  
  .sendButton {
    background: linear-gradient(45deg, #78e5f3, #176aa1);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  
.sendButton:hover {
    box-shadow: 0 0 10px rgba(4, 199, 199, 0.623);
}

@media screen and (min-width: 768px) {
    .popupContent {
        font-size: 1em;
    }

    .form input , .form textarea{
        font-size: 1em;
        font-family: sans-serif;
    }

    input:focus, textarea:focus {
        outline: rgb(0, 225, 255) 2px solid;
    }

    .sendButton {
        font-size: 1.2em;
    }
}