.navbar {
    display: flex;
    align-items: center;
    padding: 20px 5%;
    margin-bottom: 50px;
    justify-content: center;
}

.navbar h3 {
    border-bottom: 2px solid rgb(8, 154, 180);
    border-top: 2px solid rgb(8, 154, 180);
    padding-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    font-size: larger;
    padding: 30px 5%;
  }
}
