.navbar {
    display: flex;
    align-items: center;
    padding: 20px 5%;
    margin-bottom: 50px;
    justify-content: center;
}

.navbar h3 {
    border-bottom: 2px solid rgb(8, 154, 180);
}

.btn {
    padding: 5px 10px;
    border-radius: 20px;
    background: #fff;
    color: #000;
    display: none;
}

.btn:hover {
    cursor: pointer;
}
